<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <a href="#" class="btn btn-secondary mb-3">Back</a>
        <h2>User Profile</h2>

        <table class="table">
            <tr>
                <th>User ID:</th>
                <td>{{ user.user_id }}</td>
            </tr>
            <tr>
                <th>User Name:</th>
                <td>{{ user.user_name }}</td>
            </tr>
            <tr>
                <th>Date of Birth:</th>
                <td>{{ user.dob }}</td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>Race:</th>
                <td>{{ user.race }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Phone Number:</th>
                <td>{{ user.phone_number }}</td>
            </tr>
        </table>

        <!-- Edit Profile Button -->
        <button id="editButton" class="btn btn-primary">Edit Profile</button>

        <!-- Editable Profile Form -->

        <form action="/users/{{ user.user_id }}/edit" method="POST"  style="display: none;" id="editForm">
<!--            <div class="form-group">-->
<!--        <label for="userID">User ID: </label>-->
<!--        <input type="text" class="form-control" id="new_user_id" name="new_user_id" value="{{ user.user_id }}" oninput="enableConfirmButton()">-->
<!--    </div>-->
            <!-- User Name Field -->
    <div class="form-group">
        <label for="new_user_name">User Name:</label>
        <input type="text" class="form-control" id="new_user_name" name="new_user_name" value="{{ user.user_name }}" oninput="enableConfirmButton()">
    </div>
            <div class="form-group">
        <label for="new_email">Email:</label>
        <input type="text" class="form-control" id="new_email" name="new_email" value="{{ user.email }}" oninput="enableConfirmButton()">
    </div>
    <!-- Date of Birth Field -->
        <div class="form-group">
            <label for="new_dob">Date of Birth:</label>
            <input type="date" class="form-control" id="new_dob" name="new_dob" value="{{ user.dob }}" oninput="enableConfirmButton()">
        </div>


<!--    &lt;!&ndash; Gender Field &ndash;&gt;-->
        <div class="form-group">
            <label for="new_gender">Gender:</label>
            <input type="text" class="form-control" id="new_gender" name="new_gender" value="{{ user.gender }}" oninput="enableConfirmButton()">
        </div>

<!--    &lt;!&ndash; Race Field &ndash;&gt;-->
        <div class="form-group">
            <label for="new_race">Race:</label>
            <input type="text" class="form-control" id="new_race" name="new_race" value="{{ user.race }}" oninput="enableConfirmButton()">
        </div>



    <!-- Phone Number Field -->
    <div class="form-group">
        <label for="new_phone_number">Phone Number:</label>
        <input type="text" class="form-control" id="new_phone_number" name="new_phone_number" value="{{ user.phone_number }}" oninput="enableConfirmButton()">
    </div>

    <!-- Confirm Button -->
    <button type="submit" class="btn btn-success" id="confirmButton" disabled>Confirm</button>
</form>


        <h3>Add New Metric</h3>
        <form method="POST" action="/users/{{ user.user_id }}/add_metric/">
            <div class="form-group">
                <label for="metric_index">Metric Name:</label>
                <select class="form-control" id="metricSelect" name="metric_index">
                    <option type="number" step="1" value="1">weight</option>
                    <option type="number" step="1" value="2">height</option>
                    <option type="number" step="1" value="3">body fat</option>
                    <option type="number" step="1" value="4">heart rate</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="form-group">
                <label for="value">Value:</label>
                <input type="number" step="0.01" class="form-control" id="value" name="value" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <h3>Body Metrics History</h3>
        <table class="table" id="bodyMetricsTable">
            <thead>
                <tr>
                    <th>Metric Name</th>
                    <th>Time</th>
                    <th>Value</th>
                    <th>Metric Unit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in body_metrics %}
                <tr>
                    <td>{{ record.metric_name }}</td>
                    <td>{{ record.timestamp }}</td>
                    <td>{{ record.value }}</td>
                    <td>{{ record.metric_unit }}</td>
                    <td>
                        <form action="/users/{{ user.user_id }}/delete" method="POST">
                            <input type="hidden" id="delete_timestamp" name="delete_timestamp" value="{{ record.timestamp }}">
                            <input type="hidden" id="delete_metric_index" name="delete_metric_index" value="{{ record.metric_index }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#bodyMetricsTable').DataTable({
                "paging": false, // Enable pagination
                "ordering": true, // Enable sorting
                "searching": false, // Enable searching
                "order": [[1, 'desc']] // Sort by the second column (time) in descending orde
            });

            // Handle the "Edit Profile" button click
            const editButton = document.getElementById("editButton");
            const editForm = document.getElementById("editForm");
            const confirmButton = document.getElementById("confirmButton");

            // Handle the "Edit Profile" button click
            editButton.addEventListener("click", () => {
                editForm.style.display = "block";
                confirmButton.disabled = true; // Disable the Confirm button initially
            });

            // Handle form field changes
            const formFields = editForm.querySelectorAll("input");
            formFields.forEach((field) => {
                field.addEventListener("input", () => {
                    confirmButton.disabled = false; // Enable the Confirm button when there's a change
                });
            });

            // Handle the "Confirm" button click
            confirmButton.addEventListener("click", () => {
                editForm.submit(); // Submit the form when Confirm is clicked
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
